<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="footer">
<div id="footer"> 
  <div class="flogo">
    <img src="${tg.url('/images/under_the_hood_blue.png')}" alt="TurboGears" />
    <p><a href="http://www.turbogears.org/2.0/">Powered by TurboGears 2</a></p>
  </div>
  <div class="foottext">
    <p>Grupo 4 - Pedro Amarilla - Gabriel Giménez - Marco Alvarez </p>
  </div>
  <div class="clearingdiv"></div>
</div>
</py:def>    
</html>
