<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Usuario-base Tutorial</title>
</head>

<body>
  <div id="usuario-index">
    <h2>Usuarios</h2>
    <h2>Nuevo Usuario</h2>	  	
    ${tmpl_context.add_usuario_form( action='add_usuario') }				
    <table class="usuario-listing">
    <tr class="navigation" py:if="currentPage.page_count > 1">
    	<td colspan="4" class="pager">${currentPage.pager()}</td>
    </tr>
    <tr class="navigation" py:if="currentPage.item_count == 0">
    	<td colspan="4" class="pager">No usuarios found</td>
    </tr>	
        <thead>
            <tr><th>Username</th><th>Nombres<th>Apellidos</th></th><th>Fecha_creacion</th></tr>
        </thead>
        <tbody>
            <tr py:for="usuario in usuarios">
                <th class="usuario-username">${usuario.username}</th>
		<th class="usuario-nombres">${usuario.nombres}</th>
		<th class="usuario-apellidos">${usuario.apellidos}</th>
                <td class="usuario-fecha_creacion">${usuario.fecha_creacion}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="clearingdiv" />
</body>
</html>


